{% set metrics_list = [] %}
{% for node in groups['cluster_srv'] %}
{% if hostvars[node].srv_type=='bookie' %}
{% set ignored = metrics_list.append(hostvars[node].private_ip + ':' + bk_stats_port|string) %}
{% endif %}
{% endfor %}
{{ metrics_list | join(', ') }}