{% set count = [0] %}
{% for node in groups['cluster_srv'] %}
{% if hostvars[node].cluster_name=='ClusterA' and hostvars[node].srv_type=='broker' %}
{% if count.append(count.pop() + 1) %}{% endif %}
{% endif %}
{% endfor %}
{{ count.pop() }}