{% set metrics_list = [] %}
{% for node in groups['pulsar_server'] %}
{% set ignored = metrics_list.append(hostvars[node].private_ip + ':' + web_svc_port|string) %}
{% endfor %}
{{ metrics_list | join(', ') }}